<!-- Pie de página -->
<footer class="footer mt-5 py-4 bg-dark text-white">
    <div class="container text-center">
        <p>&copy; <%= new Date().getFullYear() %> ReseñaPlus. Todos los derechos reservados.</p>
        <div class="social-icons">
            <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white mr-3"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>